<!-- Display one session -->
<h1>Session #<%=@session.id%></h1>
<h3>Date: <%= @session.date %></h3>

<!-- Display session's problems -->
<h3>Problems</h3>
  <% @problems.each do |problem| %>
    <h4>Problem #<%= problem.id %></h4>
    <ul>
      <li>Color: <%= problem.color %></li>
      <li>Grade: <%= problem.grade %></li>
      <li>Image: <%=problem.image %> </li>
      <!-- helper method to display style in sentence -->
      <li>Style: <%= problem.styles_pretty %></li>
    </ul>

    <!-- Add edit problem button -->
<!--     <form action="problems/:id/edit" method="GET">
      <button type="submit">Edit Problem
    </form> -->
  <% end %>

  <form action="/problems/new" method="GET">
    <button type="submit">Add new problem </button>
