<!-- interpolate RUby code using ERB tags -->
<!-- evaluate Ruby code and compile into HTML code before it gets sent to browser -->

<h1>Problems</h1>

<!-- Link to create session -->
<a href="/problems/new">Create a new problem</a>

<!-- Display all sessions -->
<h3>All problems:</h3>
<% if @problems.empty? %>
  <p>Look like you haven't logged any problems!</p>
<% else %>
  <% @problems.each do |problem| %>
    <ul>
      <li>
        <a href="/problems/<%= problem.id %>"><%= problem.date %> - <%= problem.color %> <%= problem.grade %>
        </a>
        <!-- If currently logged_in user created this problem -->
        <form action="/problems/<%= problem.id %>/edit" method="get">
           <button type="submit">Edit Problem</button>
        </form>
      </li>
    </ul>
  <% end %>
<% end %>
