<!-- interpolate Ruby code using ERB tags -->
<!-- evaluate Ruby code and compile into HTML code before it gets sent to browser -->
<h1>Welcome, @<%= @user.username %>!</h1>

<!-- Link to create session -->
<form action="/problems/new" method="GET">
  <button class="btn btn-outline-primary btn-lg" type="submit">Add new problem</button>
</form>

<!-- Extra features -->
<div id="leaderboard">
  <h3>Leaderboard</h3>
  <div id="leaderboard_redpoint">
    <h4>Redpoint Winners</h4>
    <i>Who climbed the most problems this month?</i>
    <table class="table table-hover">
      <thead class="thead-dark">
        <th><img src="images/winner.png" alt="winner" width="30" height="30"></th>
        <th>Winners</th>
        <th>Problems sent</th>
      </thead>
      <tbody>
        <% @users_and_problem_count[0..4].each_with_index do |arr, idx| %>
          <tr>
            <td class="rank-data" style="background-color: <%= ranking_color(idx + 1) %>"><%= idx + 1 %></td>
            <td class="rank-data" style="background-color: <%= ranking_color(idx + 1) %>">@<a href="/users/<%= arr[0].id %>"><%= arr[0].username %></a></td>
            <td class="rank-data" style="background-color: <%= ranking_color(idx + 1) %>"><%= arr[1] %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div id="leaderboard_crusher">
    <h4>Crusher of The Month</h4>
    <i>Who climbed the hardest grade this month?</i>
    <br><br><h5>The winner is... <a a href="/users/<%= @best_climber.id %>"><span>@<%= @best_climber.username %></span></a>!!</h5>
  </div>
</div><hr>

<!-- Display all sessions -->
<h3>All Problem Logs</h3>
<% if @problems.empty? %>
  <p>There are no existing problems!</p>
<% else %>

  <table class="table table-bordered table-striped table-hover">
    <thead class="thead-dark">
      <th>Username</th>
      <th>Date</th>
      <th>Color</th>
      <th>Grade</th>
      <th></th>
      <th></th>
      <th></th>
    </thead>
    <tbody>
      <% @problems.each do |problem| %>
        <tr>
          <td><h5><a href="/users/<%= problem.user_id %>">@<%= problem.user.username %></a></h5></td>
          <td><%= problem.date %></td>
          <td><%= problem.color %></td>
          <td><%= problem.grade %></td>
          <form action="/problems/<%= problem.id %>" method="get">
            <td><button class="btn btn-info btn-sm" type="submit">See Details</button></td>
          </form>

          <% if problem.user == current_user %>
            <form action="/problems/<%= problem.id %>/edit" method="GET">
               <td>
                <button class="btn btn-primary btn-sm" type="submit">Edit Problem</button>
              </td>
            </form>

            <form action="/problems/<%= problem.id %>/delete" method="POST">
              <input id="hidden" type="hidden" name="_method" value="DELETE">
              <td>
                <button type="submit" class="btn btn-sm btn-danger">Delete Problem</button>
              </td>
            </form>
          <% else %>
            <td></td>
            <td></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
