<h2>Log a new problem</h2><br>
<!-- Print error message -->
<% if @error %>
  <div class="alert">
    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
    <strong>Error!</strong> Data invalid. Please select at least one style.
  </div>
<% end %>

<!-- Display form -->
<form action="/problems" method="POST">
  <!-- Date -->
  <label>Date: </label>
  <input type="date" name="problem[date]"required><br><br>
  <!-- Problem Color -->
  <label>Color: </label>
  <% @colors.each do |color| %>
    <input type="radio" name="problem[color]" value="<%= color %>" required> <%= color %></input>
  <% end %><br><br>

  <!-- Problem Grade -->
  <label>Problem Grade: </label>
  <select name="problem[grade]">
    <option value="">Choose a V-grade</option>
    <% @grades.each do |grade| %>
      <option value="<%= grade %>"><%= grade %></option>
    <% end %>
  </select><br><br>

  <!-- Problem Style -->
  <h5>Select the problem style(s):</h5>
  <!-- iterate through styles -->
  <% @styles.each do |style| %>
    <!-- array of style IDs is stored inside 'problem' hash -->
    <!-- when checkbox is selected, value (style's id), is what gets sent through to the params hash -->

    <input type="checkbox" name="problem[style_ids][]"  value="<%= style.id %>">
      <%= style.name %>
    </input>
    <br>
  <% end %><br>

  <!-- Problem Image URL-->
  <label>Image URL:</label>
  <input type="text" name="problem[image]"><br>
  <i>*Instructions: Drop your image onto <a href="https://imgur.com">Imgur</a>. Click 'get share links' and copy the "Embed in HTML" link.</i>
  <br><br>

  <button class="btn btn-lg btn-success" type="submit">Add Problem</button><br>

</form>