<!-- Display one problem -->
<h1>Problem id: <%=@problem.id%></h1>
<h3>Sent by: <a href="/users/<%= @problem.user_id %>">@<%= @problem.user.username %></a></h3>
<h3>Date: <%= @problem.date %></h3>
<ul>
  <li>Color: <%= @problem.color %></li>
  <li>Grade: <%= @problem.grade %></li>
  <% if !@problem.image.empty? %>
    <li>Image:<br><%= @problem.image%> </li>
  <% end %>
  <!-- helper method to display style in sentence -->
  <li>Styles: <%= @problem.styles_pretty %></li>
</ul>

<br><br>
<% if @problem.user == current_user %>
  <div class="btn-group">
    <!-- Add edit problem button -->
    <form action="/problems/<%= @problem.id %>/edit" method="GET">
    <button class="btn btn-primary btn-lg" type="submit">Edit Problem</button>
    </form>
  </div>
  <div class="btn-group">
    <!-- Delete problem -->
    <form action="/problems/<%= @problem.id %>/delete" method="POST">
      <input id="hidden" type="hidden" name="_method" value="DELETE">
      <button class="btn btn-danger btn-lg" type="submit">Delete Problem</button>
    </form>
  </div>
  <div class="btn-group">
    <!-- Add problem -->
    <form action="/problems/new" method="GET">
      <button class="btn btn-success btn-lg" type="submit">Add new problem </button>
    </form>
  </div>
<% end %>