<!-- Display one problem -->
<h1>Problem #<%=@problem.id%></h1>
<h3>Date: <%= @problem.date %></h3>
<ul>
  <li>Color: <%= @problem.color %></li>
  <li>Grade: <%= @problem.grade %></li>
  <li>Image: <%= @problem.image %> </li>
  <!-- helper method to display style in sentence -->
  <li>Styles: <%= @problem.styles_pretty %></li>
</ul>

<br><br>
<!-- Add edit problem button -->
<form action="/problems/<%= @problem.id %>/edit" method="GET">
  <button type="submit">Edit Problem
</form>

<form action="/problems/new" method="GET">
  <button type="submit">Add new problem </button>
</form>
