<h1> @<%= @user.username %>'s Problem Logs</h1>

<!-- Allow user to add problem if they are on their own profile -->
<% if current_user == @user %>
  <form action="/problems/new" method="GET">
    <button class="btn btn-outline-primary btn-lg" type="submit">Add new problem</button>
  </form>
<% end %>

<!-- Display all problems -->
<h3>All problem logs:</h3>
<% if @problems.empty? %>
  <p>Looks like <%= @user.username %> doesn't have any problems!</p>
<% else %>
  <table class="table table-bordered table-striped table-hover">
    <thead class="thead-dark">
      <th>Date</th>
      <th>Color</th>
      <th>Grade</th>
      <th>Styles</th>
      <th></th>
      <% if current_user == @user %>
        <th></th>
        <th></th>
      <% end %>
    </thead>
    <tbody>

    <% @problems.each do |problem| %>
      <tr>
        <td><%= problem.date %></td>
        <td><%= problem.color %></td>
        <td><%= problem.grade %></td>
        <td><%= problem.styles_pretty %></td>
        <form action="/problems/<%= problem.id %>" method="get">
            <td><button class="btn btn-info btn-sm" type="submit">See Details</button></td>
          </form>

          <% if problem.user == current_user %>
            <form action="/problems/<%= problem.id %>/edit" method="GET">
               <td>
                <button class="btn btn-primary btn-sm" type="submit">Edit Problem</button>
              </td>
            </form>

            <form action="/problems/<%= problem.id %>/delete" method="POST">
              <input id="hidden" type="hidden" name="_method" value="DELETE">
              <td>
                <button type="submit" class="btn btn-sm btn-danger">Delete Problem</button>
              </td>
            </form>
          <% else %>
            <!-- blank columns -->
            <td class="d-none"></td>
            <td class="d-none"></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>